div.title_box{
    width: 1200px;
    height: 180px;
    margin: 0px auto;
    padding: 0px 24px;
    box-sizing: border-box;
}
p.title{
    font: italic 120px/180px "Cormorant Garamond";
    font-weight: 700;
    color: #E04242;
}
@media screen and (max-width: 1200px){
    div.title_box{
        width: 100%;
    }
}