div.about_wrap{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    padding: 0px 24px;
    box-sizing: border-box;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
div.left{
    width: 47.22%;
    height: auto;
}
p.info{
    font: normal 16px/24px "Noto Sans KR";
}
p.name{
    font: normal 30px/40px "Song Myung";
    margin: 20px 0px;
}
ul.right{
    width: 47.22%;
    height: auto;
}
ul.right li{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
div.title{
    font: bold 20px/38px "Noto Sans KR";
    color: #E04242;
}
div.date{
    font: normal 16px/22px "Noto Sans KR";
}
div.date span{
    font-family: "Song Myung";
}
div.do{
    font: normal 12px/20px "Noto Sans KR";
    color: #717171;
    margin-top: 20px;
}


@media screen and (max-width: 1200px){
    div.about_wrap{
        width: 100%;
    }
}