div.footer_wrap{
    width: 100%;
    height: 100px;
}
footer.footer{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    box-sizing: border-box;
}
div.title{
    width: auto;
    height: 20px;
    font: normal 16px/20px "Song Myung";
    color: #E04242;
}
ul.skill_list{
    width: 140px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul.skill_list li{
    width: auto;
    height: 100%;
}
ul.skill_list li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and (max-width: 1200px){
    footer.footer{
        width: 100%;
    }
}